@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* best dr-card */
  .best-dr-card {
    width: 18rem;
    height: 18rem;
    text-align: center;
  }
  /* filter page */
  .filter-card {
    width: 10rem;
    height: 21.5rem;
  }
  /* filter page */
  .items-filter-box {
    border: solid 2px black;
    height: 65vh !important;
    margin-top: 65px;
    overflow-y: scroll !important;
  }
  .item-box {
    height: auto;
  }
}
